.center{
	width: 85%;
	margin: auto;
	padding: 10pt;
	text-align: center;
}
.remove-button{
	padding: 1pt;
	font-size: 8pt;
	width: 45px;
	text-align: center;
}
.glyphFont{
	font-family: cursive;
	padding: 6pt;
}

/*.glyphicon {
    word-spacing: -0.5em;
}

.glyphicon:before {
    padding-right: 0.5em;
}*/
